*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

h1 {
  margin: 10px;
}

form {
  margin: 10px;
}
input {
  margin-left: 5px;
}
.item {
  margin-bottom: 5px;
}

button {
  display: block;
  padding: 0px 10px;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

p {
  margin: 30px 10px;
  font-size: 18px;
}
